h1{
    color: rgb(255, 238, 0);
}
.add__container{
    display: flex;
    gap: 30px;
}
.list_add{
    width: 630px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 22px;
}
p{
    color: white;
    font-size: 32px;
}
.info_user{
    width:500px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.text{
    color: rgb(44, 42, 165);
    font-weight: 900;
}
